.middle {
    display: "flex";
    transition: .5s ease;
    opacity: 0;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    align-items: center;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.work-container {
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.work-container:hover .image {
    opacity: 0.3;
}

.work-container:hover .middle {
    opacity: 1;
}

.text {
    color: black;
    font-size: 16px;
    padding: 16px 32px;
}